.box{
    size: 50px;
    color: Black;
    font-family : Rockwell, serif;
    font-weight: bold;
    font-size: 30px;
}
#box1{
    float:left;
}
#box2{
    float: left;
    text-align: left;
    padding-top: 300px;
 

} 
#box3 {
    float:right;
    text-align: right;
    padding-right: 100px;
}
#box4{  
    float:right;
    text-align: right;
    padding-right: 100px;
}
body {
    background-image: url("Rock.jpg") ;
    background-size: 1280px 720px;
   }