.box{
    size: 50px;
    color: Black;
    font-family : Rockwell, serif;
    font-weight: bold;
    font-size: 30px;
}
#box1{
    float:left;
    padding-left: 60px;
    text-align: center;
}
#box2{
    float: left;
    text-align: center;
    padding-left: 80px;
 

} 
#box3 {
    float:right;
    text-align: center;
    padding-right: 80px;
}
#box4{  
    float:right;
    text-align: center;
    padding-right: 170px;
}
body {
    background-image: url("Rock.jpg") ;
    background-size: 1280px 720px;
   }
@media (max-width: 909px){
    body{
        background-image:url("rock_Roll.jpg");

    }
}

@media (min-width:910px){
    body{
        background-image:  url("Rock.jpg");
    }
}