h1{
    size: 50px;
    color: Black;
    font-family : Rockwell, serif;
    font-weight: bold;
    font-size: 50px;
}

body {
    background-image: url("Wish\ You\ Were\ Here\ Pink\ Floyd\ Cover\ Desktop\ Wallpaper.jpg") ;
    background-size: 1280px 600px;
   }