h1{
    size: 50px;
    color: rgb(253, 102, 1);
    font-family : Rockwell, serif;
    font-weight: bold;
    font-size: 50px;
    text-align: Center;
}

body {
    background-image: url("Wish\ You\ Were\ Here\ Pink\ Floyd\ Cover\ Desktop\ Wallpaper.jpg") ;
    background-size: 1280px 600px;
   }

.band{
    text-align: right;
    color:aqua;
    font-size: 23px;
}

#queen{
    position: absolute;
    bottom: 5%;
    right: 0;
}

#led{
    position: absolute;
    bottom: 10%;
    right: 0;

}

#beatles{
    position: absolute;
    bottom: 15%;
    right: 0;
}

#main{
    position: absolute;
    bottom: 0%;
    right: 0;
}

.head{
    color:		rgb(	255, 88, 88)  ;
    text-align: center;
    font:helvetica;
    font-size: 25px;
    font-style: bold;
}
.haore{
    color:	rgb(5, 223, 215);
    text-align: center;
    font:helvetica;
    font-size: 30px;
    font-style: Bold;
}
.container{
    border:3px whitesmoke;
    padding-top: 0px;
}