

body {
    background-image: url("Queen.jpg") ;
    background-size: 1280px 600px;
   }

   .band{
    text-align: right;
    color:rgb(20, 120, 120);
    font-size: 23px;
}

#beatles{
    position: absolute;
    bottom: 5%;
    right: 0;
}

#led{
    position: absolute;
    bottom: 10%;
    right: 0;

}

#pink{
    position: absolute;
    bottom: 15%;
    right: 0;
}

#main{
    position: absolute;
    bottom: 0%;
    right: 0;
}
.head{
    color:		rgb(		224, 245, 185)  ;
    text-align: center;
    font:helvetica;
    font-size: 25px;
    font-style: bold;
}
.haore{
    color:	rgb(	9, 0, 136);
    text-align: center;
    font:helvetica;
    font-size: 30px;
    font-style: Bold;
}
.container{
    border:3px whitesmoke;
    padding-top: 60px;
}