#heading{
    size: 50px;
    color: rgba(255,110,199,0.9);
    font-family : Rockwell, serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

body {
    background-image: url("beatles.png") ;
    background-size: 1280px 600px;
   }

.band{
    text-align: right;
    color:rgb(200, 120, 120);
    font-size: 12px;
}

#queen{
    position: absolute;
    bottom: 5%;
    right: 0;
}

#led{
    position: absolute;
    bottom: 10%;
    right: 0;

}

#pink{
    position: absolute;
    bottom: 15%;
    right: 0;
}

#main{
    position: absolute;
    bottom: 0%;
    right: 0;
}
.head{
    color:		rgb(171, 240, 233);
    text-align: center;
    font:helvetica;
    font-size: 25px;
}
.haore{
    color:pink;
    text-align: center;
    font:helvetica;
    font-size: 30px;
}
.container{
    border:3px whitesmoke;
    padding-top: 75px;
}
